@keyframes left {
  0% {
    position: relative;
    left: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}
@keyframes top {
  0% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}
@keyframes right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-left {
  animation: left 1s ease-in-out 0s backwards;
}

.main-left {
  animation: left 1s ease-in-out 1.5s backwards;
}

.card-left {
  animation: left 0.5s ease-in-out 1.5s backwards;
}

.card-right {
  animation: right 0.5s ease-in-out 2s backwards;
}
